.box{
    -fx-background-color: #6f4c5b;
    -fx-background-radius: 50px;
}
.anc{
    -fx-background-color: #6f4c5b;

}
.labels
{
-fx-font-size:15;
-fx-font-family:"Lucida Handwriting";
}

.uplabel
{
-fx-font-size:22;
-fx-font-family:"Lucida Handwriting";
}
.mybutton2
{
    -fx-background-color:#c8c6c6;
   -fx-background-repeat:no-repeat;
   -fx-background-color: transparent;

}
.uplabel2
{
-fx-font-size:39;
-fx-font-family:"Lucida Handwriting";
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #6f4c5b;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}
.hand{
-fx-cursor: hand;
}
.Table-view
 {
     -fx-background-color: transparent;
 }

 .Table-view .column-header-background .filler
 {
     -fx-background-color: transparent;
 }

 .Table-view .column-header-background
 {
     -fx-background-color: #6F4C5B;
     -fx-background-radius: 7px 7px 0px 0px;
     -fx-background-insets: 0 0 0 0;
     -fx-padding: 0 0 5px 0;
 }

 .Table-view .column-header
 {
     -fx-background-color: transparent;
 }

 .Table-view .table-cell
 {
     -fx-border-color: transparent;
     -fx-padding: 2 0 2 8px;
 }

 .Table-row-cell: odd
 {
     -fx-background-color: #E0FFFF;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em;
 }

 .Table-row-cell: even
 {
     -fx-background-color: white;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em;
 }

 .Table-row-cell:selected
 {
    -fx-background-color: steelblue;
 }

 .Table-row-cell:selected .text
 {
        -fx-fill: blue ;
 }

 .Table-view .virtual-flow .scroll-bar:vertical,
 .Table-view .virtual-flow .scroll-bar:vertical .track,
 .Table-view .virtual-flow .scroll-bar:vertical .track-background,
 .Table-view .virtual-flow .scroll-bar:horizontal,
 .Table-view .virtual-flow .scroll-bar:horizontal .track,
 .Table-view .virtual-flow .scroll-bar:horizontal .track-background
 {
     -fx-background-color: transparent;
 }

 .Table-view .virtual-flow .scroll-bar:vertical .thumb
 {
     -fx-background-color:  linear-gradient(to bottom, #1E90FF, #00FFFF);
 }

 .Table-view *.scroll-bar:horizontal *.increment-button,
 .Table-view *.scroll-bar:horizontal *.decrement-button
 {
     -fx-background-color: null;
     -fx-background-radius: 0;
     -fx-background-insets: 0;
     -fx-padding: 0;
 }

 .Table-view *.scroll-bar:horizontal *.increment-arrow,
 .Table-view *.scroll-bar:horizontal *.decrement-arrow
 {
     -fx-background-color: null;
     -fx-background-radius: 0;
     -fx-background-insets: 0;
     -fx-padding: 0;
     -fx-shape: null;
 }

 .Table-row-cell: highlighted
 {
     -fx-background-color: #7FFFD4;
     -fx-background-radius: 20px;
 }

 .Table-view  .table-column
 {
   -fx-alignment: CENTER;
 }