.backbutton
{
-fx-background-image:url('../images/BackIcon.png');
-fx-background-repeat:no-repeat;
-fx-background-color:#c8c6c6;
-fx-background-radius: 100;
-fx-cursor:hand;
}
.toprectangle
{
-fx-arc-height:20;
-fx-arc-width:20;
-fx-stroke:none;

}
.search-box{
    -fx-background-color:#c8c6c6;
    -fx-background-radius: 100;
}
.Scroll-pane .viewport
{
-fx-background-color: transparent;
-fx-background-color: rgba(0,0,0,0);

}
.Background
{
    -fx-background-image: url('../images/marble.jpeg');
    -fx-background-size: 100% 100%;
}
.RoundedButtons
{
    -fx-background-radius: 5em;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-background-color:#c8c6c6;
    -fx-cursor:hand;
}

.RoundedButtons:pressed
{
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.Rectangle2
{
    -fx-stroke:none;
    -fx-arc-width: 30px;
    -fx-arc-height: 30px;
}
.headerbuttons
{
-fx-background-color:#6f4c5b;
-fx-cursor:hand;
}
.SignUpButton
 {
 -fx-font-size:18;
 -fx-font-family:"Lucida Handwriting";
     -fx-background-color:
         #6F4C5B,
         linear-gradient(#6F4C5B 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #C8C6C6 45%, #C8C6C6 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
     -fx-text-fill: #6F4C5B;
     -fx-cursor:hand;
 }